block footer
	br
	br
	footer.navbar.navbar-default.navbar-fixed-bottom.footer-bar
		.container
			p#foot.navbar-text Made in Colorado with 
				span(style='color: red;') ♡ 
				| by 
				a(href='http://mherman.org') Michael Herman
				| &nbsp;and 
				a(href='http://richardalucas.com') Richard Lucas
				

	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.min.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
	script(src="/javascripts/main.js")