extends header

block content
	.container
		.row
			h1 busboy
			p.lead all aboard!
			img#busimg(src='/images/bus.svg')
			br
			br
			button.btn.btn-info.btn-lg#refresh-button show me nearby buses
			br
			br
			<iframe src="http://nodeknockout.com/iframe/refactoru" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
			br
			br
			#share
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
				<a class="addthis_button_preferred_1"></a>
				<a class="addthis_button_preferred_2"></a>
				<a class="addthis_button_preferred_3"></a>
				<a class="addthis_button_preferred_4"></a>
				<a class="addthis_button_compact"></a>
				<a class="addthis_counter addthis_bubble_style"></a>
				</div>
				<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
				<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50e5f1cc35ad077d"></script>
				<!-- AddThis Button END -->

	.container#body

	
	include handlebars.html
	include footer