doctype 5
html
	head
		title Busboy - your friendly denver/boulder bus finder
		link(rel='stylesheet', href='/stylesheets/animate.css')
		link(rel='stylesheet', href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body

		block header