doctype html
html
    head
        title Busboy - your friendly denver/boulder bus finder
        link(rel='stylesheet', href='/stylesheets/vendor/animate.css')
        link(rel='stylesheet', href="/stylesheets/vendor/jquery-ui.css")
        link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name="viewport")
        meta(name="apple-mobile-web-app-capable", content="yes")
    body
        block header